/*===============PROPIEDADES GLOBALES================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: #ffff;
    margin: 0; 
    padding: 0; 
  
}

/*===================SEPARADOR==========================*/
.separator {
    border: none;
    border-top: 1px solid #ccc; 
    margin: 20px 0; 
}

/*===================MENU==========================*/

.logo-img {
    width: 40px; 
    height: auto; 
}

 #menu a, button{
     font-size: 18px !important;
     font-weight: 600;   
 }

 #menu a{
     color:#333333;
     
 }

 .navbar {
    width: 100%;
    z-index: 1000;
    background-image: linear-gradient(to right, #F2CB05, #F29F05);
}


.contenido-pagina {
    padding-top: 60px; 
}

.navbar-nav .nav-link {
    margin: 0 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.navbar-nav .nav-link:hover {
    transform: scale(1.2);
}

.navbar-brand {
    display: flex;
    align-items: center;
    cursor: pointer; 
}

/*======================TIPEO=======================*/

.tipeo{
    color: #F29F05;
}

/*===================CAROUSEL DE IMAGENES==========================*/

.carousel-inner img {
    max-height:50rem !important;
}

.carousel-caption {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-100%);
  text-align: left; 
  color: white; 
  }

  
/*===================BANNER==========================*/

.banner {
    position: relative;
    height: 27rem;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*=========================FOOTER================================*/

.footer {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .column {
    flex: 1;
    padding: 0 15px;
  }
  
  .column h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .column p,
  .column li {
    font-size: 14px;
    line-height: 1.5;
  }
  
  .column ul {
    list-style: none;
    padding-left: 0;
  }
  
  .column form {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .column input[type="email"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 100%;
    max-width: 220px;
  }
  
  .column button {
    padding: 5px 15px;
    background: linear-gradient(to right, #F2CB05, #F29F05);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .column button:hover {
    background-image: linear-gradient(to right, #F2CB05, #F29F05);
  }
  
  .column a {
    color: #333;
    text-decoration: none;
  }
  
  .column a:hover {
    color: #F29F05; 
  }

/*=========================NOSOTROS================================*/

#intro {
  font-size: 18px; 
}

.fs-2 {
  text-align: center; 
}

@media (max-width: 768px) {
  #intro {
    font-size: 16px; 
  }
}

  
/*=========================PREGUNTAS FRECUENTES================================*/

.banner-preguntas-frecuentes {
    position: relative;
    height: 27rem;
}

.banner-preguntas-frecuentes img {
  width: 100%;
  height: auto;
}

.container-preguntas-frecuentes {
  background-color: #f8f9fa; 
  padding: 30px;
  border-radius: 10px;
}

.container-preguntas-frecuentes h1 {
  color: #333;
}

.container-preguntas-frecuentes .accordion-button {
  color: #F29F05; 
  background-color: #fff;
  border: 1px solid #F29F05; 
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.container-preguntas-frecuentes .accordion-button:hover {
  background-color: #F29F05; 
  color: #fff; 
}

.container-preguntas-frecuentes .accordion-button.collapsed {
  background-color: #fff; 
  color: #F29F05;
}

.container-preguntas-frecuentes .accordion-body {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

/*=========================PERFIL================================*/

.container.perfil {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.container.perfil .mb-3 {
  margin-bottom: 15px;
}

.container.perfil label {
  font-weight: bold;
}


.container.perfil .d-grid {
  margin-top: 15px;
}


.container.perfil #idMensaje {
  margin-top: 20px;
  padding: 10px;
  background-color: #dff0d8;
  border: 1px solid #c3e6cb;
  border-radius: 4px;
}


.container.perfil .return-link {
  display: inline-block;
  margin-top: 20px;
  color: #007bff;
  text-decoration: none;
}


.container.perfil .return-link:hover {
  text-decoration: underline;
}

/*=========================LOGIN================================*/

.login-container {
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 30px; 
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;

}



.login-form .form-control {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

.login-form .btn-primary {
  background-color: #F29F05;
  border: none;
  padding: 10px;
  font-size: 16px;
}

.login-form .btn-primary:hover {
  background-color: #F29F05;
}

.link-primary {
  color: #F29F05;
  text-decoration: none;
}

.link-primary:hover {
  text-decoration: underline;
}

.link-secondary {
  color: #666;
  text-decoration: none;
}

.link-secondary:hover {
  text-decoration: underline;
}