{% extends 'inicio/base.html' %}
{% load static %}

{% block contenido %}
    <h1>Editar Aportador</h1>
    <div class="container perfil">
        <form method="post">
            {% csrf_token %}
            <table class="table">
                {{ form.as_table }}
            </table>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
        <br>
        <a href="{% url 'crud_aportador' %}" class="btn btn-secondary">Cancelar</a>
    </div>

    <!-- FOOTER -->
    <footer class="footer"></footer>
{% endblock contenido %}
