{% extends 'inicio/base.html' %}
{% load static %}

{% block contenido %}
<div class="container py-4">
    <h1 class="mb-4">Agregar Donantes</h1>

    <form action="{% url 'aportadorAdd' %}" method="POST" class="mb-4">
        {% csrf_token %}
        <div class="form-group">
            <table class="table table-bordered">
                {{ form.as_table }}
            </table>
        </div>
        <button type="submit" class="btn btn-primary">Agregar</button>
    </form>

    <div class="mb-4">
        <a href="{% url 'crud_aportador' %}" class="btn btn-secondary">Volver</a>
    </div>

    <div id="idMensaje">
        {% if mensaje %}
            <div class="alert alert-success">{{ mensaje }}</div>
        {% endif %}
    </div>
</div>

    <!-- FOOTER -->
    <footer class="footer"></footer>
{% endblock contenido %}
