{% extends 'inicio/base.html' %}
{% block contenido %}

<section class="banner-donantes">
    <img src="{% static 'inicio/images/banner_donantes.png' %}" class="img-fluid" alt="Banner donantes">
  </section>



    <h1>Listado de Donantes</h1>
    <br>
    <button type="button">
        <a href="{% url 'aportadorAdd' %}">Agregar</a>
    </button>
    
    <div id="idMensaje">
        {% if mensaje %}
            <p>{{ mensaje }}</p>
        {% endif %}
    </div>

    <table>
        {% if aportadores %}
            <thead>
                <tr>
                    <th>Aportador</th>
                    <th>Eliminar</th>
                    <th>Modificar</th>
                </tr>
            </thead>
            <tbody>
                {% for aportador in aportadores %}
                    <tr>
                        <td>{{ aportador.nombre }} {{ aportador.apellido }}</td>
                        <td><a href="{% url 'aportador_del' pk=aportador.usuario_ptr_id %}">Eliminar</a></td>
                        <td><a href="{% url 'aportador_edit' pk=aportador.usuario_ptr_id %}">Modificar</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        {% endif %}
    </table>
{% endblock contenido %}
