{% extends 'inicio/base.html' %}
{% load static %}

{% block contenido %}

<section class="banner-donaciones">
    <img src="{% static 'inicio/images/banner_donaciones.png' %}" class="img-fluid" alt="Banner donaciones">
  </section>


  <section class="container-donaciones py-5">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center mb-5">Apoya Nuesta Causa</h1>
      </div>
    </div>

    <section class="d-flex flex-column justify-content-center align-items-center pt-5 text-center w-50 m-auto" id="intro">
        <p class="p-3 fs-4">
            Tu ayuda es vital para continuar nuestra misión de brindar cuidado y apoyo a quienes más lo necesitan. Con tu donación, podemos asegurar que nuestros ancianos reciban el amor y la atención que merecen. Únete a nosotros y marca la diferencia.
          <br />
          <br />
          Cada contribución, grande o pequeña, cuenta. Juntos, podemos seguir ofreciendo un hogar lleno de cariño y dignidad. ¡Gracias por tu generosidad!
        </p>
      </section>
      <br />
      <hr class="separator" />
      <br />

  <div class="row text-center">
    <div class="col-md-6">
        <a href="#" class="btn btn-primary-donaciones btn-lg">Consultar Donaciones</a>
    </div>
    <div class="col-md-6">
        <a href="#" class="btn btn-secondary-donantes btn-lg">Consultar Donantes</a>
    </div>
</div>

<br>
<br>
<br>
<br>





  <!-- FOOTER -->
  <footer class="footer"></footer>

{% endblock contenido %}
