{% extends 'inicio/base.html' %}
{% load static %}

{% block contenido %}
  <!-- ========================================================== -->
  <!-- CAROUSEL DE IMAGENES -->
  <!-- ========================================================== -->

  <div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="{% static 'inicio/images/carrousel-1.png' %}" class="d-block w-100" alt="" />
      </div>

      <div class="carousel-item" data-bs-interval="3000">
        <img src="{% static 'inicio/images/carrousel-2.png' %}" class="d-block w-100" alt="" />
      </div>

      <div class="carousel-item" data-bs-interval="3000">
        <img src="{% static 'inicio/images/carrousel-3.png' %}" class="d-block w-100" alt="" />
      </div>

      <div class="carousel-item" data-bs-interval="3000">
        <img src="{% static 'inicio/images/carrousel-4.png' %}" class="d-block w-100" alt="" />
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <section class="d-flex flex-column justify-content-center align-items-center pt-5 text-center w-50 m-auto" id="intro">
    <h1 class="p-3 fs-2 border-top border-3"><span>Fundación Vida Plena</span></h1>
    <p class="p-3 fs-4">Desde 2020, la Fundación Vida Plena ha brindado su apoyo a nuestros mayores con dedicación absoluta, ofreciendo un ambiente cálido y seguro para el desarrollo integral y el bienestar personal.

      Nos comprometemos a proporcionar todas las comodidades necesarias para que cada residente disfrute de una vida plena y feliz. Nuestro hogar acoge a personas mayores de diversas procedencias y necesidades, asegurando un entorno acogedor y familiar.

      En la Fundación Vida Plena, nuestros residentes son nuestra prioridad. Por ello, hemos diseñado espacios adaptados a las diferentes etapas de la vida, desde cuidados especializados para nuestros residentes que requieren atención continua hasta ambientes pensados para la independencia y la convivencia activa.

      Nuestro equipo está comprometido con el bienestar y la calidad de vida de cada persona que elige nuestra fundación como su nuevo hogar. Aquí encontrarán el apoyo necesario para disfrutar de cada momento con dignidad y confort.

      Únete a nuestra comunidad donde cada día es una oportunidad para vivir plenamente</p>
  </section>
{% endblock %}
