{% extends 'inicio/base.html' %}
{% load static %}

{% block contenido %}
  <!-- ========================================================== -->
  <!-- CAROUSEL DE IMAGENES -->
  <!-- ========================================================== -->

  <div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="{% static 'inicio/images/carrousel-1.png' %}" class="d-block w-100" alt="" />
      </div>

      <div class="carousel-item" data-bs-interval="3000">
        <img src="{% static 'inicio/images/carrousel-2.png' %}" class="d-block w-100" alt="" />
      </div>

      <div class="carousel-item" data-bs-interval="3000">
        <img src="{% static 'inicio/images/carrousel-3.png' %}" class="d-block w-100" alt="" />
      </div>

      <div class="carousel-item" data-bs-interval="3000">
        <img src="{% static 'inicio/images/carrousel-4.png' %}" class="d-block w-100" alt="" />
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <section class="d-flex flex-column justify-content-center align-items-center pt-5 text-center w-50 m-auto" id="intro">
    <h1 class="p-3 fs-2 border-top border-3"><span>Fundación Vida Plena</span></h1>
    <p class="p-3 fs-4">
      Desde 2020, en la Fundación Vida Plena nos dedicamos a ofrecer un hogar acogedor y seguro para nuestros mayores.
      <br />
      <br />
      Nuestro compromiso es proporcionar todas las comodidades necesarias para que cada residente disfrute de una vida plena y feliz. Adaptamos nuestros espacios para cubrir las necesidades desde cuidados especializados hasta ambientes para la independencia activa. Únete a nuestra comunidad donde cada día es una oportunidad para vivir plenamente.
    </p>
  </section>

  <br />

  <hr class="separator" />
  <br />

  <section class="d-flex flex-column justify-content-center align-items-center pt-5  text-center w-50 m-auto"> 
    <h2 class="tipeo mb-4" id="typewriter"></h2>
  </section>

  <section class="banner">
    <img src="{% static 'inicio/images/banner.png' %}" class="banner-img" alt="Banner Imagen" />
  </section>


{% endblock %}
