{% extends 'inicio/base.html' %}
{% load static %}

{% block contenido %}


  <section class="d-flex flex-column justify-content-center align-items-center pt-5 text-center w-50 m-auto" id="intro">
    <h1 class="p-3 fs-2 border-top border-3"><span>Fundación Vida Plena</span></h1>
    <p class="p-3 fs-4">
      Desde 1995, en la Fundación Vida Plena nos dedicamos a ofrecer un hogar acogedor y seguro para nuestros mayores.
      <br />
      <br />
      Nuestro compromiso es proporcionar todas las comodidades necesarias para que cada residente disfrute de una vida plena y feliz. Adaptamos nuestros espacios para cubrir las necesidades desde cuidados especializados hasta ambientes para la independencia activa. Únete a nuestra comunidad donde cada día es una oportunidad para vivir plenamente.
    </p>
  </section>

  <br />



  <!-- ========================================================== -->
  <!-- FOOTER -->
  <!-- ========================================================== -->

  <footer class="footer"></footer>

  {% endblock %}
