{% extends 'inicio/base.html' %}
{% load static %}

{% block contenido %}


  <section class="d-flex flex-column justify-content-center align-items-center pt-5 text-center w-50 m-auto" id="intro">
    <h1 class="p-3 fs-2 border-top border-3"><span>Fundación Vida Plena</span></h1>
    <p class="p-3 fs-4">
      En la fundación Vida Plena, nos dedicamos con amor y devoción a brindar un hogar lleno de cariño y cuidado a nuestros ancianos.
      Desde 1995, nuestra misión ha sido asegurar que cada persona mayor que llega a nuestra casa de reposo reciba la atención médica,
      el afecto y la dignidad que merece. Todo comenzó con un grupo de personas generosas que, unidas por un mismo propósito, construyeron
      nuestro primer hogar con sus propias manos y corazones.
      <br />
      <br />
      Nuestro compromiso es proporcionar todas las comodidades necesarias para que cada residente disfrute de una vida plena y feliz. Adaptamos nuestros espacios para cubrir las necesidades desde cuidados especializados hasta ambientes para la independencia activa. Únete a nuestra comunidad donde cada día es una oportunidad para vivir plenamente.
    </p>
  </section>

  <br />



  <!-- ========================================================== -->
  <!-- FOOTER -->
  <!-- ========================================================== -->

  <footer class="footer"></footer>

  {% endblock %}
